<!DOCTYPE html>
  <html>
  <head>
    <title>GoogleTTStoMp3</title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

